<!DOCTYPE html>

<% provide(:title, "Контакти") %>
<html>
	<head>
		<title><%= yield(:title)%> | NikolovaWeb</title>
	</head>
	<body>
		<h1>Контакти</h1>
		<p>Телефонен Номер</p>
		<p>Мобилен Номер</p>
		<p>Имейл Адрес</p>
	</body>
</html>