<!DOCTYPE html>

<% provide(:title, "Помощ") %>
<html>
	<head>
		<title><%= yield(:title)%> | NikolovaWeb</title>
	</head>
	<body>
		<h1>Помощ</h1>
		<p>Важна информация достъпна за потребители</p>
	</body>
</html>

