
<!DOCTYPE html>

<%provide(:title, "Главна Страница") %>
<html>
	<head>
		<title><%= yield(:title)%> | NikolovaWeb</title>
	</head>
	<div class="center jumbotron">
		<body>
			<h1>Главна Страница</h1> 
			<p>Личният уебсайт на най добрата журналистка(и баба) на света: Тодорка Николова</p>
		</body>
	</div>	
</html>


