
<!DOCTYPE html>

<%provide(:title, "Главна Страница") %>
<html>
	<head>
		<title><%= yield(:title)%> | NikolovaWeb</title>
	</head>
	<body>
		<h1>Главна страница</h1> 
		<p>Личният уебсайт на най добрата журналистка(и баба) на Света: Тодорка Николова</p>
	</body>
</html>


