<header class = "navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
  		<%= link_to "NikolovaWeb", root_path, id: "logo" %>
  		<nav>
  			<ul class= "nav navbar-nav navbar-right">
  				<li><%= link_to "Главна Страница", root_path %></li>
  				<li><%= link_to "Помощ", help_path %></li>
  				<li><%= link_to "Книги", books_path %></li>
  			</ul>
  		</nav>
  	</div>	
</header>